{%- include multilingual.html -%}
{%- include indicator-variables.html -%}
{% include head.html %}
{% include header.html %}
{% include components/fields-template.html %}
{% include components/units-template.html %}
{% include multilingual-js.html key="indicator" %}
{% include multilingual-js.html key="data" %}

TEST 1
<div id="main-content" class="container goal-{{ goal_number }}">
  {% include components/breadcrumb.html %}
TEST2
  <div class="row" id="page-content-row">
  TEST3
  </div>




</div>

{% include footer.html %}

