{% include head.html %}
{% include header.html %}

<div id="main-content" class="container reportingstatus">
<div class="goal goal-overall">
<div class="details">
<div class="summary">
<div class="statuses">
</div>
</div>
<div class="goal-stats">
</div>
</div>
</div>
<div class="goal">
<div class="frame">
</div>
<div class="details">
<div class="summary">
<div class="statuses">
</div>
</div>
<div class="goal-stats">
</div>
<div class="divider">
</div>
</div>
</div>
</div>

{% include footer.html %}
