{% include head.html %}
{% include header.html %}

<div id="main-content" class="container reportingstatus">

  <h1>{{ page.t.status.reporting_status }}</h1>

  {%- assign overall = site.data.reporting.overall -%}
  <div class="goal goal-overall">
      <div class="details">
        <h2 class="status-goal">
        </h2>
        <div class="summary">
          <div class="statuses">
            {%- for status in overall.statuses -%}
            <div>
 
            </div>
            {%- endfor -%}

            <br style="clear:both;">
          </div>
        </div>
        <div class="goal-stats">
            {%- for status in overall.statuses -%}

            {%- endfor -%}
        </div>

      </div>
    <!--</li>-->
    <br style="clear:both;">
  </div>

  <h2>{{ page.t.status.status_by_goal }}</h2>

  {%- for goalreport in site.data.reporting.goals -%}
    {%- assign goal = goalreport.goal | downcase | sdg_lookup -%}
    <div class="goal">
        <div class="frame">
          <a href="{{ goal.url }}">

          </a>
        </div>
        <div class="details">
          <div class="summary">
            <div class="statuses">
              {%- for status in goalreport.statuses -%}
              <div>

              </div>
              {%- endfor -%}
              <br style="clear:both;">
            </div>
          </div>
          <div class="goal-stats">
          {%- for status in goalreport.statuses -%}

          {%- endfor -%}
          </div>
          <div class="divider">
          </div>
        </div>
      <!--</li>-->
      <br style="clear:both;">
    </div>
  {%- endfor -%}

  <!--{{ content }}-->

</div>
{% include footer.html %}